version: '3.8'

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: course-platform-frontend
    restart: always
    ports:
      - "5500:80"
    environment:
      - NODE_ENV=production
